body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

@font-face {
    font-family: 'digital-7';
    src: url('./digital-7/digital-7.ttf');
}

.digital-clock-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: clamp(5px, 1vw, 10px) solid #2d2d2d;
    border-radius: 1.7vw;
    padding: 0 clamp(4px, 2vw, 20px);
    user-select: none;
    width: 90%;
    max-width: 1000px;
    height: fit-content;
    max-height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.calendar-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    align-items: center;
    padding: 3vw 2vw 0;
}

.week {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    justify-content: center;
    align-items: center;
    color: #2d2d2d;
    font-weight: bold;
    font-size: clamp(14px, 2.5vw, 24px);
    font-family: 'Orbitron', sans-serif;
}

.week .active {
    color: #fff;
}

.date-wrap {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: clamp(14px, 2.5vw, 24px);
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.digital-clock {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hour,
.min,
.sec {
    padding: 1vw;
    font-size: clamp(55px, 16vw, 200px);
    font-family: 'Digital-7', sans-serif;
    width: clamp(55px, 16vw, 200px);
    height: auto;
}

.dot {
    font-size: clamp(55px, 16vw, 200px);
    font-family: 'Digital-7', sans-serif;
}

.period {
    padding: 1vw;
    font-size: clamp(55px, 16vw, 200px);
    font-family: 'Digital-7', sans-serif;
    width: clamp(55px, 16vw, 200px);
    height: auto;
}

.invisible {
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .calendar-wrap {
        padding: 2vw;
    }
}

@media screen and (max-width: 479px) {
    .digital-clock-wrap {
        padding: 10px;
    }

    .calendar-wrap {
        padding: 1vw;
    }
}
